@import url('https://fonts.cdnfonts.com/css/angella-white-personal-use-font');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@200&family=EB+Garamond&family=Libre+Baskerville&family=Libre+Caslon+Text&family=PT+Serif&display=swap');

body {
    font-family: 'EB Garamond', 'PT Serif', serif;
}

.vertical-align {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Libre Baskerville', serif;
}

input {
    width: 100%;
    padding: .5em 1em;
}

header {
    font-family: 'Angella White Personal use font', sans-serif;
    text-align: center;
    font-size: 200px;
}

nav {
    font-family: 'Crimson Pro', serif;
    text-transform: uppercase;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}

.topnav #myLinks {
  display: none;
}

@media all and (min-width : 601px) {
    .menu-display {
        display: none;
    }
}

@media (max-width: 600px) {
    .menu-display {
        display: block;
    }
}

.flowerbanner {
    background-image: url(./images/flowerfield.jpg)
}

.box-white {
    background-color: white;
    border-color: white;
}