@import url('https://fonts.cdnfonts.com/css/angella-white-personal-use-font');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@200&display=swap');


header {
    font-family: 'Angella White Personal use font', sans-serif;
    text-align: center;
    font-size: 200px;
}

nav {
    font-family: 'Crimson Pro', serif;
    text-transform: uppercase;
}

test {
    height: 100%;
    background-color: blue;
    color: aqua;
}