@import url('https://fonts.googleapis.com/css2?family=Potta+One&family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=DM+Serif+Display&display=swap');

body {font-family: 'DM Sans', sans-serif; font-size: 1.2rem; line-height: 1.4; background-color: antiquewhite}
h1,h2,h3,h4,h5,h6 {font-family: 'DM Serif Display', serif;}
h1 {font-size: 3rem;}

.slogan {color: #603A1E;}

.primary,.primary:hover{color:#fff!important;background-color:#6c584c!important}

.secondary,.secondary:hover{color:#fff!important;background-color:#a98467!important}

.tertiary,.tertiary:hover{color:#000!important;background-color:#f0ead2!important}

.w3-dropdown-hover:hover .w3-dropdown-content .w3-dropdown-content {display:none}

.w3-dropdown-hover:hover .w3-dropdown-hover:hover .w3-dropdown-content {display:inline;} .w3-button {text-align: center;}

.left {text-align: left;}
.center {text-align: center;}
.right {text-align: right;}

html {
    scroll-behavior: smooth;
}

@media (max-width:600px) {
    .w3-bar-block .w3-dropdown-hover .w3-button,.w3-bar-block .w3-dropdown-click .w3-button{width:100%;text-align:center;padding:8px 16px; background-color:#b7b7b7;}

    footer {
        direction: rtl;
    }
    .left {text-align: center;}
    .right {text-align: center;}
}
