@import url('https://fonts.googleapis.com/css2?family=Potta+One&family=Raleway&display=swap');

body {font-family: 'Raleway', sans-serif; font-size: 1.2rem; line-height: 1.4;}
h1,h2,h3,h4,h5,h6 {font-family: 'Potta One', cursive;}
h1 {font-size: 3rem;}